<material-dialog>
    <section class="dialog-title">
        <span class="fa-stack fa-lg ">
          <i class="fa fa-mobile fa-stack-1x fa-2x dialog-icon"></i>
          <img class="fa fa-stack-2x" src="../../images/ban.svg"></img>
        </span>
        Device Disconnected
    </section>
    <section class="dialog-content">
        <p>Please connect your device to the server or you will be relocated to the device select screen in <strong>5 minutes</strong></p>
            <span class="timer" countdown="timer.countdown" max-time-unit="'minute'" interval="1000"
                  finish-callback="onTimerFinished()">{{mminutes}}:{{sseconds}}</span>
    </section>
</material-dialog>