<material-dialog>
    <section class="dialog-title">
        <i class="fa fa-download dialog-icon"></i>
        {{progressDialog.title}}
    </section>
    <fly-progressbar ng-if="progressDialog.loading" value="progressDialog.progress"
                     max="progressDialog.total"></fly-progressbar>

    <section class="dialog-content">
        <div ng-if="progressDialog.loading">
            <p>{{progressDialog.progress}}/{{progressDialog.total}}</p>
            <p>{{progressDialog.appName}}</p>
        </div>
    </section>
</material-dialog>