<material-dialog>
    <section class="dialog-title">
        <span class="fa-stack fa-lg ">
          <i class="fa fa-mobile fa-stack-1x fa-2x device-ban"></i>
          <img class="fa fa-stack-2x" src="../../images/ban.svg"></img>
        </span>
        No Connected Devices
    </section>
    <section class="dialog-content">
        <p>
            Please launch the client application on your device and connect to <strong>{{baseUrl}}</strong>
        </p>

        <p>
            Or scan the following barcode:
        </p>

        <div class="barcode-container">
            <qrcode data="{{baseUrl}}" size="180"></qrcode>
        </div>
    </section>
    <div class="dialog-actions" layout="horizontal" layout-align="end" ng-show="devices.length > 0">
        <material-button ng-click="close()">CLOSE</material-button>
    </div>
</material-dialog>