.applications-container {
  position: relative;
  margin: 20px 40px;
  border-radius: 5px;
  padding: 10px 0;
}

.applications-grid {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  > li {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
  }
}

.application-tile {
  margin: 0;
  padding: 0;
  position: relative;
  width: 14em;
  height: auto;

  .tile-header {
    padding: 5px;
    position: relative;
  }
  .title {
    font-size: 1.6em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .application-logo-container {
    text-align: center;
    width: 5.5em;
    height: 5.5em;
  }

  .application-logo-background {
    font-size: 5.5em;
  }
  .application-logo {
    width: 2.7em;
    height: 2.7em;
    position: relative;
    top: 28px;

  }

  .tile-content {
    font-size: 0.75em;
    text-align: left;
    padding: 10px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}