#applications-list-container {
  @include outer-container;  
}

#applications-list {
  @include span-columns(12);
}

[id='footer'] {

  $footer-height: 140px;

  height: $footer-height;
  background-color: #6a205f;
  width: 100%;
  color: white;
  &.show {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  &.hide {
    display: none;
  }
  ul {
    font-size: 1.2em;
    margin-top: 10px;
    display: inline-block;
    list-style-type: none;
    float: left;
    li {
      margin-bottom: 0.3em;
    }
  }
  .footer-logo {
    width: 4em;
    height: 4em;
    display: inline-block;
    float: left;
    margin: 15px;
  }
}

.fab-play {
  position: absolute;
  right: 20px;
  top: 100px;
  z-index: 2;
}

.tabs-container {
  width: 100%;

  .tab-icon {
    width: 2.2em;
    height: 2.2em;
    vertical-align: middle;
  }
  .tab-label {
    font-size: 1.2em;
  }
}

.reset-zoom {
  position: absolute;
  top: 110px;
  right: 140px;
  z-index: 10;
  background: grey;
  color: white;
}

.reset-zoom #ripple,
.reset-zoom::shadow #ripple {
  color: #2a56c6;
}

#applications-monitoring {
  .chart-area {
    height: 600px;
    article {
      height: 33%;
      #chart-memory {
        height: 100%;
      }
      #chart-cpu {
        height: 100%;
      }
      #chart-systemevent {
        height: 100%;
      }
    }
  } 
}
