html, body, .container, [id="scroll-header"] {
  margin: 0;
}

body {
  font-family: "Roboto", "Helvetica Neue", "sans-serif";
  font-weight: 300;
  position: relative;
  height: auto;
  min-height: 100%;
}

//material-backdrop {
//  height: 100%;
//  width: 100%;
//  position: fixed;
//}