.devices-section {
  @include outer-container;
  text-align: center;
  margin-top: 20px;

  .device-tile {
    display: inline-block;
    margin: 5px;
    padding: 2px;
    width: 25em;
    height: 15em;
    background: white;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &.connected {
      cursor: pointer;

      &:hover {
        @include transform(translate3d(0, -2px, 0));
      }
    }

    &.disconnected {
      opacity: .5;
    }

    .title {
      font-size: 2em;
    }

    .version-name {
      position: absolute;
      bottom: 5px;
      left: 5px;
    }

    .screen-size {
      position: absolute;
      bottom: 5px;
      right: 5px;
    }

    .device-tile-header {
      background: #677880;
      color: #ffffff;
      padding: 5px;
    }

    .device-tile-content {
      background: #ffffff;
      color: #677880;
    }
  }

  .no-device-container {
    @include span-columns(6);
    @include shift(3);
    margin-top: 20px;
    color: #666;
    font-size: 20px;
  }
}

.device-logo {
  color: #677880;
  font-size: 1.5em;
}
