.configuration-area {
  @include span-columns(6 on 24);

  .configuration-box {
  	border-top: 1px #444 solid;
  	
  	.configuration-box-hint {
  	  padding: 15px 15px 0;
  	}
  }

  .event-box {
   	ul {
   	  list-style: none;
	  list-style-position: inside;
	  padding-left: 15px;

	  .key {
	    font-weight: 500;
	  }
    }
  }
}

.chart-area {
  @include span-columns(18 on 24);

  .chart-wrapper {
  	margin-top: 20px;
  	height: 200px;

  	.chart {
  	  height: 200px;
  	}

  	#chart-master {
  	  height: 100px;
  	}
  }
}