.configuration-area {
  @include span-columns(6 on 24);

  .configuration-box {
  	border-top: 1px #444 solid;
  	
  	.configuration-box-hint {
  	  padding: 15px 15px 0;
  	}
  }
}

.chart-area {
  @include span-columns(18 on 24);
}
.radio-block {
  display: block;
}