#toolbar {
  background: #adcc3d;
  fill: #f1f1f1;
  color: #f1f1f1;
  height: 64px;
}

body {
  background-color: #f0f3f6;
}

.search-icon {
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

.search-input {

  color: white;

  &.collapsable {
    @include transition(all 400ms ease-out);
  }

  &.opened,
  &.closed:focus {
    display: inline;
    width: 15em;
    border-color: white;
  }
  &.closed {
    display: inline;
    width: 0;
    border-color: transparent;
  }
}

.dialog-title {
  font-weight: 300;
  padding: 10px 0.67em;
  background-color: #677880;
  margin: 0;
  color: white;
  font-size: 2em;
}

.timer {
  display: block;
  font-size: 2.5em;
  text-align: center;
}

.barcode-container {
  text-align: center;
}

.toolbar-action {
  color: white;
  &:hover {
    background-color: transparent;
  }
}

.dialog-icon {
  font-size: 1.7em;
}

material-tab {
  background-color: #adcc3d;
  padding: 5px;

  .material-ink-ripple {
    color: #677880;
  }
}

material-ink-bar {
  background-color: #677880;
  height: 3px;
}

.content-container {
  position: relative;
  margin: 20px 40px;
  background-color: white;
  border-radius: 5px;
  padding: 10px 0;
}

.progress {
  background-color: #adcc3d;
  height: 4px;
  @include transition(width 200ms linear);

}


