
.toolbar {
  background: #adcc3d;
  position: fixed;
  top: 0;
  box-shadow: 0px 5px 30px 0px rgba(10, 10, 10, 0.2);
}

.search-container {
  label {
    display: inline;
  }
}

material-toolbar-tools {
  height: 64px;
}

.tabs-container {
  width: 100%;
  position: fixed;
  top: 64px;
  z-index: 1;

  .tab-icon {
    width: 2.2em;
    height: 2.2em;
    vertical-align: middle;
  }
  .tab-label {
    font-size: 1.2em;
  }
}

material-tab {
  background-color: #adcc3d;
  padding: 5px;

  .material-ink-ripple {
    color: #677880;
  }
}

material-ink-bar {
  background-color: #677880;
  height: 3px;
}

.container {
  margin-top: 84px;

  &.undertabs {
    margin-top: 135px;
  }
}

.toolbar-icon {
  color: white;
  cursor: pointer;
}

.search-icon {
  font-size: 1.5em;
}

.search-input {

  color: white;

  &.collapsable {
    @include transition(all 400ms ease-out);
  }

  &.opened,
  &.closed:focus {
    display: inline;
    width: 15em;
    border-color: white;
  }
  &.closed {
    display: inline;
    width: 0;
    border-color: transparent;
  }
}

.dialog-title {
  font-weight: 300;
  padding: 10px 0.67em;
  background-color: #677880;
  margin: 0;
  color: white;
  font-size: 2em;
}

.timer {
  display: block;
  font-size: 2.5em;
  text-align: center;
}

.barcode-container {
  text-align: center;
}

.toolbar-action {
  color: white;
  &:hover {
    background-color: transparent;
  }
}

.dialog-icon {
  font-size: 1.7em;
}

.progress {
  background-color: #adcc3d;
  height: 4px;
  @include transition(width 200ms linear);

}

.fab-icon-play {
  position: relative;
  left: 3px;
}

.fab-icon {
  font-size: 1.7em;
}

.tile {
  display: inline-block;
  margin: 5px;
  padding: 2px;
  width: 20em;
  height: 15em;
  background: white;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 2px 2px 14px 0px rgba(22, 24, 29, 0.2);
  .title {
    font-size: 2em;
  }

  .tile-content {
    background: #ffffff;
    .application-detail {
      .important {
        font-weight: 400;
      }
    }
  }
}

.inline {
  display: inline;
}