html, body, .container, [id="scroll-header"] {
  height: 100%
}

body {
  font-family: "RobotoDraft", "Helvetica Neue", "sans-serif";
}

[id="toolbar"] {
  background: #6a205f;
  fill: #f1f1f1;
  color: #f1f1f1;



}
#search-icon {
  @include transform(scale(1.5));
}
#search-input {
  font-size: 0.8em;
  color: white;
  &.collapsable {
    @include transition(width 400ms ease-out);
  }
  &.opened,
  &.closed:focus {
    width: 300px;
  }
  &.closed {
    width: 0;
  }
}

.devices-section {
  width: 100%;
  display: inline-block;
  text-align: center;

  .device-article {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 25em;
    height: 15em;
    background: #9acd00;
    overflow: hidden;



    &.connected {
      cursor: pointer;

      &:hover {
        @include transform(translate3d(0, -2px, 0));
      }

    }

    &.disconnected {
      opacity: .5;

    }

    .title {
      font-size: 2em;
      font-weight: 500;
    }

    .detail {
      list-style: none;

    }
  }
}

.applications-section {
  width: 100%;
  display: inline-block;
  text-align: 100%;

  .application-article {
    display: inline-block;
    text-align: center;
    width: 5.625em;
    height: 6em;
    margin: 5px;
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      background-color: rgba(106, 32, 95, 0.05);
    }

    .application-logo {
      width: 4em;
      height: 4em;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
    }

    .application-label {
      font-size: 0.875em;
      white-space: nowrap;
    }
  }
}