<section class="applications-section content">
    <article class="application-article" ng-repeat="application in applications | filter:searchComparator"
             ng-dblclick="startApplication(application)" ng-click="updateCurrentApplication(application)">
        <paper-ripple id="ripple"></paper-ripple>
        <img class="application-logo" ng-src="data:image/jpeg;base64,{{application.logo}}"
             alt="logo {{application.label}}"/>
        <span class="application-label">{{application.label}}</span>
    </article>
</section>
<div id="footer" ng-class="{false: 'show', true:'hide'}[ctrl.currentApplication === undefined]">
    <img ng-if="ctrl.currentApplication" class="footer-logo" ng-src="data:image/jpeg;base64,{{ctrl.currentApplication.logo}}"
         alt="logo {{ctrl.currentApplication.label}}"/>
    <ul>
        <li>version : {{ctrl.currentApplication.version}}</li>
        <li>label : {{ctrl.currentApplication.label}}</li>
        <li>package : {{ctrl.currentApplication.packageName}}</li>
        <li>debuggable : {{ctrl.currentApplication.debuggable}}</li>
    </ul>
</div>