<!--<div ng-include="'partials/toolbar.html'"></div>-->

<core-scroll-header-panel id="scroll-header" condenses keepCondensedHeader>
    <core-toolbar id="toolbar" class="tall">
        <h1 flex>Samantha</h1>
        <paper-icon-button icon="search" role="button"></paper-icon-button>
    </core-toolbar>

    <section class="applications-section content">
        <article class="application-article" ng-repeat="application in applications"
                 ng-dblclick="startApplication(application)">
            <img class="application-logo" ng-src="data:image/jpeg;base64,{{application.logo}}"
                 alt="logo {{application.label}}"/>
            <span class="application-label">{{application.label}}</span>
        </article>
    </section>

</core-scroll-header-panel>
