<core-toolbar id="toolbar" class="medium-tall">
    <h1 flex>Samantha</h1>
    <div ng-show="ctrl.tabSelected == 0">
        <paper-icon-button id="search-icon" icon="search" role="button"
                           ng-click="openSearch = !openSearch;"></paper-icon-button>
        <paper-input id="search-input" label="Search an app" ng-model="search"
                     class="collapsable" ng-class="{true:'opened', false:'closed'}[openSearch]"></paper-input>
    </div>
    <div class="bottom fit" ng-if="ctrl.monitoredApplication" horizontal layout>
        <paper-tabs ng-model="ctrl.tabSelected" class="tabs-container" selected="{{ctrl.tabSelected}}">
            <paper-tab><span class="tab-label">Applications</span></paper-tab>
            <paper-tab>
                <div class="tab-container">
                    <img class="tab-icon" ng-src="data:image/jpeg;base64,{{ctrl.monitoredApplication.logo}}">
                    <span class="tab-label"> {{ctrl.monitoredApplication.label}}</span>
                </div>
            </paper-tab>
        </paper-tabs>
    </div>
    <paper-fab ng-click="fabAction()" ng-show="ctrl.selectedApplication" class="fab fab-play" icon="{{ctrl.fabIcon}}">
    </paper-fab>

</core-toolbar>

<section id="applications-list" ng-show="!ctrl.tabSelected || ctrl.tabSelected == 0">
    <section class="applications-section content">
        <article class="application-article" ng-repeat="application in applications | filter:searchComparator"
                 ng-dblclick="startApplication(application)" ng-click="updateCurrentApplication(application)">
            <paper-ripple id="ripple"></paper-ripple>
            <img class="application-logo" ng-src="data:image/jpeg;base64,{{application.logo}}"
                 alt="logo {{application.label}}"/>
            <span class="application-label">{{application.label}}</span>
        </article>
    </section>
    <div id="footer" ng-class="{false: 'show', true:'hide'}[ctrl.selectedApplication === undefined]">
        <img ng-if="ctrl.selectedApplication" class="footer-logo" ng-src="data:image/jpeg;base64,{{ctrl.selectedApplication.logo}}"
             alt="logo {{ctrl.selectedApplication.label}}"/>
        <ul>
            <li>version : {{ctrl.selectedApplication.version}}</li>
            <li>label : {{ctrl.selectedApplication.label}}</li>
            <li>package : {{ctrl.selectedApplication.packageName}}</li>
            <li>debuggable : {{ctrl.selectedApplication.debuggable}}</li>
        </ul>
    </div></section>

<section id="applications-monitoring" ng-show="ctrl.tabSelected == 1">
    <div class="configuration-area">
        <div class="configuration-box switch-chart">
            <paper-radio-group ng-model="switchChart" ng-init="switchChart='cpu'" selected="{{switchChart}}">
                <paper-radio-button name="cpu" label="CPU" class="radio-block"></paper-radio-button>
                <paper-radio-button name="memory" label="Memory" class="radio-block"></paper-radio-button>
            </paper-radio-group>
        </div>
    </div>
    <div class="chart-area">
        <div ng-show="switchChart == 'memory'">
            <article ng-controller="ChartMemoryCtrl">
                <highchart id="chart-memory" config="chartMemoryConfig"></highchart>
            </article>
        </div>
        <div ng-show="switchChart == 'cpu'">
            <article ng-controller="ChartCpuCtrl">
                <highchart id="chart-cpu" config="chartCpuConfig"></highchart>
            </article>
        </div>

    </div>
</section>